<header class="header">

    <!-- Menu Desktop -->
    <nav class="nav-desktop container">
        <div class="logo">
            <a href="{% url "website:home" %}" class="logo-img" title="Gazil Equipamentos">
                <img src="{{ site_setup.favicon.url }}" alt="Logo Gazil Equipamentos">
            </a>
            <a href="{% url "website:home" %}" class="logo-text">
                {{ site_setup.title }}
            </a>
        </div>

        <button class="hamburger" aria-label="Menu" aria-expanded="false">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </button>

        <ul class="menu">
            {% for menu_link in site_setup.menulink_set.all %}
                {% if menu_link.text == 'produtos' %}
                    <li class="dropdown-parent">
                        <a href="{{ menu_link.url_or_path }}" class="nav-link dropdown-toggle">
                            {{ menu_link.text }}
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in products_setup_list %}
                                <li>
                                    <a href="{% url "products:product-list" slug_category=category.slug_category %}" class="dropdown-item">
                                        {{ category.product_type.text }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ menu_link.url_or_path }}" class="nav-link">{{ menu_link.text }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <!-- SOCIAL MEDIA MOBILE -->

        <div class="header-socials">
            <!-- Instagram -->
            {% for contact in site_setup.contacts.all %}
                <a href="{{ contact.instagram_url }}" target="_blank" aria-label="Instagram" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Facebook -->
                <a href="{{ contact.facebook_url }}" target="_blank" aria-label="Facebook" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            {% endfor %}
        </div>

    </nav>

    <!-- Menu Mobile -->

    <nav class="nav-mobile">
        <ul class="menu-mobile">
            {% for menu_link in site_setup.menulink_set.all %}
                {% if menu_link.text == 'produtos' %}

                    <li class="dropdown-parent">
                        <a href="{{ menu_link.url_or_path }}" class="nav-link dropdown-toggle">
                            {{ menu_link.text }}
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in products_setup_list %}
                                <li>
                                    <a href="{% url "products:product-list" slug_category=category.slug_category %}" class="dropdown-item">
                                        {{ category.product_type.text }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ menu_link.url_or_path }}" class="nav-link">{{ menu_link.text }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>


</header>