{% if site_setup.whatsapp_number %}

    <div class="whatsapp-float pulse" id="whatsappFloat">
        <a href="http://wa.me/{{ site_setup.whatsapp_number }}?text="
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Fale conosco no Whatsapp"
        title="Contactar Via Whatsapp">
            <img src="{{ site_setup.whatsapp_icon.url }}" alt="Whatsapp">

        </a>
        <div class="whatsapp-tooltip" id="whatsappTooltip">
            Precisa de ajuda?
        </div>
    </div>
{% endif %}
