:root {
    /* Cores Principais */
    --color-primary: #1F3A65;        /* Azul escuro(titulos, textos) */
    --color-secondary: #D90429;      /* Vermelho (botões, destaques) */
    --color-light: #ECECEC;          /* Fundos claros */
    --color-white: #FAFAFA;
    --color-gray: #8D99AE;
    --color-md-gray: #979797;
    --color-dark-gray: #555;         /* Bordas, textos secundários */
    --color-dark: #1e1e1e;
    --color-whatsapp: #128C7E;

    /* FONTES */

    --font-title: 'Montserrat', sans-serif;     /* Títulos */
    --font-body: 'Open Sans', sans-serif;       /* Textos normais */

    /* ESPAÇAMENTOS */

    --space-xs: 0.25rem;    /* 4px */
    --space-sm: 0.5rem;     /* 8px */
    --space-md: 1rem;       /* 16px */
    --space-lg: 2rem;       /* 32px */
    --space-xl: 3rem;       /* 48px */

    /* BORDAS */

    --border-radius: 0.5rem;    /* Cantos arredondados */
    --border-gray: 1px solid var(--color-gray);

    /* SOMBRAS */

    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* Z-INDEX SEMÂNTICO */
    --z-header: 1000;
    --z-dropdown: 1100;
    --z-modal: 1200;
    --z-backdrop: 1190;
    --z-toast: 1300;
    --z-floating-btn: 1400;
    --z-whatsapp: 1500;
}

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
    color: var(--color-primary);
    background-color: var(--color-white);
    background-image: var(--background-image-url);
    background-attachment: fixed;
    background-position: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ======= WHATSAPP ICON ======== */
.whatsapp-float{
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: 60px;
    z-index: var(--z-whatsapp);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp-float img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.4));
}

.whatsapp-float:hover{
    transform: scale(1.05);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

.whatsapp-float.pulse {
    animation: pulse 1.6s ease-in-out 3;
}

.whatsapp-tooltip{
    position: absolute;
    bottom: 95%;
    left: 50%;
    width: max-content;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--color-whatsapp);
    color: var(--color-white);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    font-family: var(--font-body);
    box-shadow: var(--shadow-md);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: var(--z-whatsapp);
}

.whatsapp-tooltip.show{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.whatsapp-tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: var(--color-whatsapp) transparent transparent transparent;
}

.whatsapp-tooltip span{
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.whatsapp-tooltip span.show{
    opacity: 1;
    transform: translateY(0);
}

/* ===========   HEADER   ============ */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

}

.header {
    background-color: var(--color-white);
    box-shadow: var(--shadow-md);
    position: fixed;
    top: 0;
    z-index: var(--z-header);
    padding: var(--space-sm) 0;
    width: 100%;
}

.logo{
    position: relative;
    min-height: 50px;
}

.logo-img{
    display: block;
}

.logo-img img{
    height: 90px;
}

.logo-text{
    display: none;
    font-family: var(--font-title);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: uppercase;
}

.logo-img, 
.logo-text {
    transition: opacity 0.3s ease;
}

.nav-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.nav-desktop .menu {
    margin-left: auto;
}

.nav-link{
    color: var(--color-primary);
    font-weight: 600;
    padding: var(--space-xs) 0;
    position: relative;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--color-secondary);
}

/* == Dropdown navbar Produtos == */

.dropdown-parent{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    background: var(--color-white);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius);
    min-width: 270px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s;
    z-index: var(--z-dropdown);
    list-style: none;
    padding-left: 0;
}

.dropdown-item{
    display: block;
    padding: var(--space-sm) var(--space-md);
    color: var(--color-primary);
    transition: background 0.3s;
}

.dropdown-item:hover{
    background: var(--color-light);
    border-radius: var(--border-radius);
}

.dropdown-parent:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    transform: rotate(225deg);
    transition: transform 0.3s;
}

.dropdown-parent:hover .dropdown-toggle::after {
    transform: rotate(45deg);
    margin-bottom: 3px;
    border-right: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
}

.dropdown-parent:hover .nav-link{
    color: var(--color-secondary);
}


/* ====== MENU MOBILE ====== */

.hamburger {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--space-xs);
    z-index: var(--z-header);
}

.hamburger-line {
    display: block;
    width: 30px;
    height: 3px;
    background: var(--color-primary);
    margin: 4px 0;
    transition: transform 0.3s, opacity 0.3s;
}

/* Transformação em X */
.hamburger[aria-expanded="true"] .hamburger-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger[aria-expanded="true"] .hamburger-line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* ===== MENU MOBILE ===== */
.nav-mobile {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background: var(--color-white);
    box-shadow: var(--shadow-md);
    padding-bottom: 1rem 0;
    transform: translateY(-10%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: var(--z-dropdown);
    
}

.nav-mobile[data-visible="true"] {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

/* ==== Dropdown Mobile ==== */
.nav-mobile .dropdown-menu {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    position: fixed;
    box-shadow: var(--shadow-md);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.5s;
    margin: 0;
    z-index: var(--z-dropdown);
    pointer-events: none;
}

.menu-mobile{
    list-style: none;
    padding-left: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    box-shadow: var(--shadow-md);
}

.menu-mobile > li {
    padding: 0 var(--space-md);
}

.menu-mobile .nav-link{
    display: block;
    padding: var(--space-sm) 0;
    font-weight: 600;
    border-bottom: 2px solid var(--color-light);
}

.nav-mobile .dropdown-menu a{
    display: block;
    padding: var(--space-xs) 0;
    color: var(--color-gray);
    transition: color 0.3s;
}

.nav-mobile .dropdown-menu a:hover{
    color: var(--color-dark);
}


/* ===== SOCIAL MEDIA ===== */
.header-socials{
    display: flex;
    gap: 1.5rem;
    margin-left: 2rem;
}

.header-socials a,
.mobile-socials a {
    color: var(--color-primary);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.header-socials a:hover,
.mobile-socials a:hover{
    color: var(--color-secondary);
}


/* ===== BANNER ===== */

.banner-slider {
    max-width: 100vw;
    aspect-ratio: 17 / 4;
    position: relative;
    overflow: hidden;
    background-color: var(--color-white);
    margin-top: 105px;
    margin-bottom: 2rem;
}

.banner-slider .glide__track{
    height: 100%;
}

.glide__slide{
    width: 100%;
}

.banner-image {
    width: 100%;
    aspect-ratio: 17 / 4;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-slide{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg);
}

.banner-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--color-white);
}

.banner-description{
    font-size: 2.5rem;
    font-family: var(--font-title);
    margin-bottom: var(--space-sm);
    text-transform: uppercase;
    max-width: 30ch;
    line-height: 1.2;
}

.banner-btn{
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--space-sm) var(--space-md);
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.4s;
    border-radius: var(--border-radius);
    margin-top: 30px;
}

.banner-btn:hover{
    background-color: #a80320;
}
  
.glide__arrow {
    width: 56px;
    height: 56px;
    border: none;
    background: none;
    display: flex;
    color: var(--color-white);
    font-size: 3rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

}

.glide__arrow:hover{
    transform: scale(1.2);
}

.glide__arrow--left {
    left: 10px;
}
  
.glide__arrow--right {
    right: 10px;
}

.banner-slider .glide__arrows{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.banner-slider:hover .glide__arrows{
    opacity: 1;
    pointer-events: auto;
}

/* === PRODUTOS DESTACADOS === */
.product-card-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

.featured-products {
    padding: 4rem 2rem;
    background-color: var(--color-light);
    margin-top: 5rem;
}

.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.product-card {
    background: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-md);
    padding: 2rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product-card:hover{
    transform: translateY(-5px);
}

.product-card a img {
    max-width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.product-title {
    font-size: 1.4rem;
    color: var(--color-dark-gray);
    line-height: 1.5;
}

.product-btn {
    background-color: var(--color-secondary);
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s;
    align-self: center;
}

.product-btn:hover {
    background-color: #a80320;
}

/* ===== WHY GAZIL SECTION ===== */
.why-gazil{
    padding: 4rem 2rem;
}

.why-gazil .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: var(--color-dark);
}

.reasons-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.reason-card {
    padding: 2rem;
    text-align: center;
    background: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-md);
}

.reason-card .icon{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.reason-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-dark);
    margin-bottom: 0.5rem;
}

.reason-description{
    font-size: 1rem;
    color: var(--color-dark-gray);
    line-height: 1.5;
}

/* ======= FOOTER ======== */

.footer{
    background-color: var(--color-dark);
    color: var(--color-md-gray);
    padding: var(--space-xl) var(--space-md) var(--space-md);
    font-size: 1rem;
    font-family: var(--font-body);
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--space-lg);
}

.footer-col h3 {
    font-family: var(--font-title);
    color: var(--color-light);
    margin-bottom: var(--space-sm);
    font-size: 1.5rem;
}

.footer-logo-img{
    width: 120px;
    height: auto;
    margin: auto;
}

.footer-logo{
    font-size: 1.5rem;
    font-family: var(--font-title);
    color: var(--color-light);
    text-align: center;
}

.footer-links ul, .footer-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.footer-contact li {
    margin-bottom: var(--space-sm);
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}


.footer-links a,
.footer-contact a {
    text-decoration: none;
    color: var(--color-md-gray);
    transition: color 0.3s ease;
    text-transform: capitalize;
}

.footer-col p, .footer-col li{
    font-size: 1rem;
}

.footer-links a:hover,
.footer-contact a:hover {
    color: var(--color-light);
}

.footer-address{
    margin-left: 1rem;
}

.footer-address p {
    margin-top: 1rem;
}

.footer-social {
    display: flex;
    gap: var(--space-md);
    margin-bottom: 0.65rem;
}

.footer-social a{
    font-size: 1.5rem;
    color: var(--color-md-gray);
    transition: color 0.3s ease;
}

.footer-social a:hover{
    color: var(--color-light);
}

.footer-bottom {
    text-align: center;
    margin-top: var(--space-lg);
    border-top: var(--border-gray);
    padding-top: var(--space-sm);
    font-size: 0.85rem;
    color: var(--color-gray);
}


/* ============== RESPONSIVIDADE ================= */

@media (max-width: 1025px) {

    .whatsapp-float{
        right: 15px;
    }

    .whatsapp-tooltip::after{
        left: 74%;
    }

    .whatsapp-tooltip{
        left: 5%;
    }

    .dropdown-parent:hover .dropdown-toggle::after {
        transform: rotate(45deg);
        margin-bottom: 3px;
        border-color: var(--color-secondary);
    }

    .dropdown-parent:hover .dropdown-menu{
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
    }

    .dropdown-parent .dropdown-menu.open{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
    }

    .dropdown-toggle::after {
        content: "";
        display: inline-block;
        margin-left: 4px;
        margin-bottom: 3px;
        width: 8px;
        height: 8px;
        border-color: var(--color-primary);
        transform: rotate(45deg);
        transition: transform 0.3s;
    }

    .banner-slider{
        aspect-ratio: 17 / 6;
    }

    .banner-image{
        aspect-ratio: 17 / 6;
    }
    
    .banner-description{
        font-size: 2rem;
        margin-bottom: var(--space-sm);
        max-width: 100%;
    }

    .banner-btn{
        padding: var(--space-sm) var(--space-md);
        margin-top: var(--space-md);
        font-size: 1rem;
    }
}

@media (max-width: 768px) {

    .hamburger {
        display: block;
        margin-left: auto;
    }

    .header-socials{
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 0;
        margin-right: 4rem;
    }

    .header-socials a,
    .mobile-socials a {
        font-size: 2rem;
    }


    .nav-desktop .menu {
        display: none; 
    }

    .container {
        width: 100%;
        padding: 10px 0;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }

    .logo-img {
        display: block;
    }

    .nav-mobile .dropdown-menu {
        position: relative;
        box-shadow: none;
        margin-top: var(--space-xs);
        display: none;
    }

    .nav-mobile .dropdown-menu a{
        line-height: 2.2;
    }

    .dropdown-menu.open{
        display: block;
    }

    .nav-mobile[data-visible="true"] .menu-mobile{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    /* ==== BANNER ==== */

    .banner-slider{
        aspect-ratio: 17 / 8;
    }

    .banner-image{
        aspect-ratio: 17 / 8;
    }

    .banner-slide{
        width: 100%;
        height: 100%;
    }

    .banner-overlay{
        height: 100%;
        padding: var(--space-md);
    }
}

@media (max-width: 600px) {

    .banner-slider{
        aspect-ratio: 14 / 8;
    }

    .banner-image{
        aspect-ratio: 14 / 8;
    }

    .banner-description{
        font-size: 1.5rem;
        margin-bottom: var(--space-xs);
        max-width: 100%;
    }

    .banner-btn{
        padding: var(--space-sm) var(--space-md);
        margin-top: var(--space-sm);
        font-size: 1rem;
    }

    .header-socials{
        margin-right: 2rem;
    }
}

@media (max-width: 460px){

    .banner-slider{
        aspect-ratio: 12 / 9;
    }

    .banner-image{
        aspect-ratio: 12 / 9;
    }

    .header-socials{
        margin: 0 auto;
        gap: 2rem;
    }

    .banner-description{
        font-size: 1.5rem;
        margin-bottom: var(--space-xs);
        max-width: 100%;
    }

    .banner-btn{
        margin-top: var(--space-md);
        font-size: 1rem;
    }
}

@media (max-width: 365px){
    .banner-description{
        font-size: 1.5rem;
        margin-bottom: var(--space-xs);
        max-width: 100%;
    }

    .banner-slider{
        aspect-ratio: 10 / 8;
    }

    .banner-image{
        aspect-ratio: 10 / 8;
    }
}

