:root {
    /* Cores Principais */
    --color-primary: #1F3A65;        /* Azul escuro(titulos, textos) */
    --color-secondary: #D90429;      /* Vermelho (botões, destaques) */
    --color-light: #ECECEC;          /* Fundos claros */
    --color-white: #FAFAFA;
    --color-gray: #8D99AE;           /* Bordas, textos secundários */

    /* FONTES */

    --font-title: 'Montserrat', sans-serif;     /* Títulos */
    --font-body: 'Open Sans', sans-serif;       /* Textos normais */

    /* ESPAÇAMENTOS */

    --space-xs: 0.25rem;    /* 4px */
    --space-sm: 0.5rem;     /* 8px */
    --space-md: 1rem;       /* 16px */
    --space-lg: 2rem;       /* 32px */
    --space-xl: 3rem;       /* 48px */

    /* BORDAS */

    --border-radius: 8px;    /* Cantos arredondados */
    --border-gray: 1px solid var(--color-gray);

    /* SOMBRAS */

    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
    color: var(--color-primary);
    background-color: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

}

.header {
    background-color: var(--color-white);
    box-shadow: var(--shadow-md);
    position: fixed;
    top: 0;
    z-index: 2000;
    padding: var(--space-sm) 0;
    width: 100%;
}

.logo{
    position: relative;
    min-height: 50px;
}

.logo-img{
    display: block;
}

.logo-img img{
    height: 90px;
}

.logo-text{
    display: none;
    font-family: var(--font-title);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: uppercase;
}

.logo-img, 
.logo-text {
    transition: opacity 0.3s ease;
}

.nav-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3.5rem;
}

.nav-link{
    color: var(--color-primary);
    font-weight: 600;
    padding: var(--space-xs) 0;
    position: relative;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--color-secondary);
}

/* Dropdown navbar Produtos */

.dropdown-parent{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    background: var(--color-white);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius);
    min-width: 270px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s;
    z-index:100;
    list-style: none;
    padding-left: 0;
}

.dropdown-item{
    display: block;
    padding: var(--space-sm) var(--space-md);
    color: var(--color-primary);
    transition: background 0.3s;
}

.dropdown-item:hover{
    background: var(--color-light);
    border-radius: var(--border-radius);
}

.dropdown-parent:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    transform: rotate(225deg);
    transition: transform 0.3s;
}

.dropdown-parent:hover .dropdown-toggle::after {
    transform: rotate(45deg);
    margin-bottom: 3px;
    border-right: 2px solid var(--color-secondary);border-bottom: 2px solid var(--color-secondary);
}

.dropdown-parent:hover .nav-link{
    color: var(--color-secondary);
}


/* === MENU MOBILE + RESPONSIVIDADE */

.hamburger {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--space-xs);
    z-index: 1000;
}

.hamburger-line {
    display: block;
    width: 24px;
    height: 2px;
    background: var(--color-primary);
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

/* Transformação em X */
.hamburger[aria-expanded="true"] .hamburger-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger[aria-expanded="true"] .hamburger-line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* ===== MENU MOBILE ===== */
.nav-mobile {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    background: var(--color-white);
    box-shadow: var(--shadow-md);
    height: calc(100vh - 67px);
    transform: translateY(-10%);
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 999;
    
}

.nav-mobile[data-visible="true"] {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

/* Dropdown Mobile */
.nav-mobile .dropdown-menu {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    position: fixed;
    box-shadow: var(--shadow-md);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.5s;
    margin: 0;
    z-index: 100;
    pointer-events: none;
}

.nav-mobile .dropdown-parent:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-mobile{
    list-style: none;
    padding-left: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    box-shadow: var(--shadow-md);
}

.menu-mobile > li {
    padding: 0 var(--space-md);
}

.menu-mobile .nav-link{
    display: block;
    padding: var(--space-sm) 0;
    font-weight: 600;
    border-bottom: 2px solid var(--color-light);
}

.nav-mobile .dropdown-menu a{
    display: block;
    padding: var(--space-xs) 0;
    color: var(--color-gray);
    transition: color 0.3s;
}

.nav-mobile .dropdown-menu a:hover{
    color: var(--color-primary);
}


/* ===== BANNER ===== */

.banner-slider {
    max-width: 100vw;
    aspect-ratio: 17 / 4;
    position: relative;
    overflow: hidden;
    background-color: var(--color-white);
    top: 105px;
    margin-bottom: 2rem;
}

.banner-slider .glide__track{
    height: 100%;
}

.glide__slide{
    width: 100%;
}

.banner-image {
    width: 100%;
    aspect-ratio: 17 / 4;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-slide{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg);
}

.banner-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--color-white);
}

.banner-description{
    font-size: 2.5rem;
    font-family: var(--font-title);
    margin-bottom: var(--space-sm);
    text-transform: uppercase;
    max-width: 30ch;
    line-height: 1.2;
}

.banner-btn{
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--space-sm) var(--space-md);
    font-weight: bold;
    border: var(--border-radius);
    text-transform: uppercase;
    transition: background 0.4s;
    border-radius: var(--border-radius);
    margin-top: 30px;
}

.banner-btn:hover{
    background-color: #a80320;
}
  
.glide__arrow {
    width: 56px;
    height: 56px;
    border: none;
    background: none;
    display: flex;
    color: var(--color-white);
    font-size: 3rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

}

.glide__arrow:hover{
    transform: scale(1.2);
}

.glide__arrow--left {
    left: 10px;
}
  
.glide__arrow--right {
    right: 10px;
}

.banner-slider .glide__arrows{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 10;
}

.banner-slider:hover .glide__arrows{
    opacity: 1;
    pointer-events: auto;
}
/* ===== RESPONSIVIDADE ===== */

@media (max-width: 1050px) {

    .banner-slider{
        aspect-ratio: 17 / 5
    }

    .banner-image{
        aspect-ratio: 17 / 5;
    }
    
    .banner-description{
        font-size: 2rem;
        margin-bottom: var(--space-sm);
        max-width: 100%;
    }

    .banner-btn{
        padding: var(--space-sm) var(--space-md);
        margin-top: var(--space-md);
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-desktop .menu {
        display: none; 
    }

    .container {
        width: 100%;
        padding: 7px 0;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo-img {
        display: none;
        position: absolute;
        opacity: 0;
    }

    .logo-text {
        display: block;
        opacity: 1;
    }

    .dropdown-parent:hover .dropdown-toggle::after{
        margin-bottom: 0;
    }

    .nav-mobile .dropdown-parent:hover .dropdown-toggle::after {
        transform: rotate(45deg);
        margin-bottom: 3px;
    }

    .nav-mobile .dropdown-parent .dropdown-toggle::after {
        transform: rotate(225deg);
        margin-left: 4px;
    }

    .nav-mobile[data-visible="true"] .menu-mobile{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    /* ==== BANNER ==== */

    .banner-slide{
        width: 100%;
        height: 100%;
    }

    .banner-overlay{
        height: 100%;
        padding: var(--space-md);
    }
}

@media (max-width: 600px) {
    .hamburger {
        margin-right: 1.5rem;
    }

    .logo-text {
        padding: 0;
        margin: 1.4rem 5rem;
    }

    .banner-description{
        font-size: 1.5rem;
        margin-bottom: var(--space-xs);
        max-width: 100%;
    }

    .banner-btn{
        padding: var(--space-xs) var(--space-sm);
        margin-top: var(--space-sm);
        font-size: 0.75rem;
    }
}

@media (max-width: 460px){
    .logo-text{
        padding: 0 15px;
        margin: 1.4rem 0;
    }

    .banner-description{
        font-size: 1rem;
        margin-bottom: var(--space-xs);
        max-width: 100%;
    }

    .banner-btn{
        padding: var(--space-xs) var(--space-sm);
        margin-top: var(--space-sm);
        font-size: 0.5rem;
    }
}

@media (max-width: 365px){
    .banner-description{
        font-size: 1rem;
        margin-bottom: var(--space-xs);
        max-width: 100%;
    }

    .banner-btn{
        padding: var(--space-xs) var(--space-sm);
        margin-top: var(--space-sm);
        font-size: 0.5rem;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .hamburger {
        margin-right: 2rem;
    }

    .logo-text {
        margin: 1.4rem 5rem;
    }
}



