{% extends 'website/base.html' %}
{% load custom_filters %}

{% block content %}

    {% include "website/partials/_hero-content.html" %}

    <div class="content">

        <div class="product-detail-container">

            <!-- MAIN SECTION -->
            <div class="product-detail-main">
                <div class="product-detail-image">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>

                <div class="product-detail-info">
                    <h1 class="product-detail-title">{{ product.name }}</h1>
                    <p class="product-detail-short">{{ product.short_description }}</p>
                    <p class="product-detail-long">{{ product.long_description }}</p>

                    <div class="product-detail-buttons">
                        <!-- Whatsapp -->
                        <a 
                        href="http://wa.me/{{ site_setup.whatsapp_number }}?text={{ product|whatsapp_product_message:request }}"
                        class="btn btn-whatsapp"
                        target="_blank">
                            <i class="fab fa-whatsapp"></i>
                            Pedir preço via Whatsapp
                        </a>

                        <!-- CARRINHO -->
                        <form action="{% url "products:cart" %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-cart">

                                <i class="fas fa-shopping-cart"></i>

                                Adicionar ao carrinho
                            </button>
                        </form>

                        <!-- VOLTAR -->
                        <a href="{% url 'products:product-list' slug_category %}" class="btn btn-back">
                            Voltar aos Produtos
                        </a>
                    </div>
                </div>
            </div>

            <!-- RELATED PRODUCTS -->
            <div class="related-section">
                <h2>Produtos Relacionados</h2>

                {% if related_products %}
                    <div class="related-grid">

                        {% for related in related_products %}

                            <a href={% url 'products:product-detail' related.product_type.slug_category related.slug_product%}>
                                <div class="related-card">
                                    <img src="{{ related.image.url }}" 
                                    alt="{{ related.name }}">
                                    <h3>{{ related.name }}</h3>
                                </div>
                            </a>
                        
                        {% endfor %}

                    </div>
                {% else %}
                    <p class="no-related">
                        Nenhum produto relacionado foi encontrado.
                    </p>
                
                {% endif %}
            </div>
        </div>
    
    </div>

{% endblock %}