{% extends "website/base.html" %}

{% block content %}
    {% include "website/partials/_hero-content.html" %}

    <div class="content-products">
        {% include "website/partials/_breadcrumbs.html" %}
    </div>
    <section class="categories">
        <h2 class="categories-title">Nossas Linhas de Produtos</h2>
        <p class="categories-subtitle">
            Encontre a categoria certa para o seu projeto
        </p>
        <div class="categories-grid">

            {% for category in categories %}
                <a href="{% url "products:product-list" category.slug_category %}" class="category-card">

                    <div class="card-content">
                        <h3>{{ category.product_type.text }}</h3>
                    </div>
                    <div class="card-image">
                        <img src="{{ category.image.url }}" alt="{{ category.product_type.text }}">
                    </div>

                </a>
            {% endfor %}
        </div>
    </section>

{% endblock content %}