{% extends "website/base.html" %}

{% block content %}
    <section class="hero">

        <div class="hero-content">
            <h1>Encontre o produto ideal para o seu projeto</h1>
            <p>Qualidade, design e funcionalidade reunidos em um só lugar.</p>
            <a href="#categories-id" class="btn-primary">Ver Produtos</a>
        </div>

    </section>

     <section id="categories-id" class="categories">
        <h2>Categorias</h2>
        <div class="categories-grid">

            {% for category in categories %}
                <a href="{% url "products:product-list" category.slug_category %}" class="category-card">

                    <div class="card-image">
                        <img src="{{ category.image.url }}" alt="{{ category.product_type.text }}">
                    </div>
                    <div class="card-content">
                        <h3>{{ category.product_type.text }}</h3>
                    </div>

                </a>
            {% endfor %}
        </div>
    </section>

{% endblock content %}