{% extends "website/base.html" %}
{% load custom_filters %}

{% block content %}

    {% include "website/partials/_hero-content.html" %}

    <div class="content">

        <div class="container list-product">

            <!-- ORDERING -->
            <div class="ordering">

                <form method="get">
                    <label for="order">Ordenar por:</label>
                    <select name="order" id="order" onchange="this.form.submit()">
                        <option value="name" {% if current_order == "name" %}selected{% endif %}>Nome A-Z</option>
                        <option value="-name" {% if current_order == "-name" %}selected{% endif %}>Nome Z-A</option>
                        <option value="id" {% if current_order == "id" %}selected{% endif %}>Mais antigos</option>
                        <option value="-id" {% if current_order == "-id" %}selected{% endif %}>Mais recentes</option>
                    </select>
                </form>
            </div>
            
            <div class="list-title">
                {% if is_search %}
                    <h2>Resultados da pesquisa por "{{ q }}"</h2>
                
                {% else %}
                    <h2>
                        {{ name_category }}
                    
                    </h2>

                {% endif %}
            </div>

            <!-- PRODUCTS GRID -->

            {% if products %}
                <div class="product-grid">

                    {% for product in products %}

                        <div class="product-list-card">
                            <div class="card-product-image">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            </div>

                            <div class="card-product-content">
                                <h2>{{ product.name }}</h2>
                                <p class="short-desc">{{ product.short_description }}</p>

                                <div class="card-product-actions">
                                    <a href="http://wa.me/{{ site_setup.whatsapp_number }}?text={{ product|whatsapp_product_message:request }}"
                                    class="btn btn-whatsapp"
                                    target="_blank">

                                        <i class="fab fa-whatsapp"></i>
                                    
                                        Pedir preço via Whatsapp
                                    </a>

                                    <form action="{% url "products:cart" %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-cart">

                                            <i class="fas fa-shopping-cart"></i>

                                            Adicionar ao carrinho
                                        </button>
                                    </form>

                                    <a href={% url "products:product-detail" product.product_type.slug_category product.slug_product %} class="btn btn-details">

                                        <i class="fas fa-info-circle"></i>
                                        Ver mais detalhes
                                    </a>
                                </div>
                            </div>

                        </div>
                    
                    {% endfor %}

                </div>
                
                <!-- PAGINATION -->
                {% include "website/partials/_pagination.html" %}
                
            {% else %}

                <div class="no-results">
                    <div class="no-results-icon">
                        😕
                    </div>

                    <h2>
                        {% if is_search %}
                            Nenhum produto encontrado para "{{ q }}"
                        {% else %}
                            Nenhum produto disponível nesta categoria.
                        {% endif %}
                    </h2>
                    <p>Tente ajustar os filtros ou faça outra busca.</p>
                    <a href="/produtos/" class="btn-back">Voltar aos produtos</a>
                </div>


            {% endif %}
        </div>
    </div>
{% endblock %}